<div class="alinha">

  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        (input)="handleItem($event)"
      />

      <div class="input-group-append">
        <button
          class="btn btn-dark"
          type="button"
          (click)="search()"
        >
          Search
        </button>
      </div>

    </div>
  </div>

</div>


<div class="card" *ngIf="cities.length">

  <div class="card-header">
    <h1>Cidades Brasileiras</h1>
  </div>

  <div class="card-body">
      <table class="table table-striped table-dark">
          <thead>
              <tr>
                  <th scope="col">Nome da Cidade</th>
                  <th scope="col">UF</th>
                  <th scope="col">IBGE</th>
                  <th scope="col">Coordenadas</th>
              </tr>
          </thead>
          <tbody class="fields">
              <tr *ngFor="let city of cities | paginate: {
                itemsPerPage: 10,
                currentPage: pageNumber,
                totalItems: totalElements
               }">
                  <td>{{city.name}}</td>
                  <td>{{city.uf}}</td>
                  <td>{{city.ibge}}</td>
                  <td>{{city.geolocation}}</td>
              </tr>
          </tbody>
      </table>

      <div class="pagination">
        <pagination-controls
        (pageChange)="pageChanged($event)"
        previousLabel="Previous"
        nextLabel="Next"
        ></pagination-controls>
      </div>
  </div>
</div>



<div class="d-flex align-items-center justify-content-center" *ngIf="loading">
  <h1>Carregando...</h1>
  <div class="spinner-border spinner-align" role="status" style="width: 10rem; height: 10rem;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
